.colorscheme-dark .gist table tr {
    background-color: #ddd;
}

.colorscheme-dark .gist table tr:nth-child(even) {
    background-color: #ccc;
}

.colorscheme-dark .gist .gist-meta {
    background-color: #ccc;
}